<html>
    <head>
        <title>kjtdimuthu</title>
        <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="../static/css/style.css" rel="stylesheet" />
        <link href="../static/css/pace-theme-minimal.css" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/transition.js"></script>
        <script type="text/javascript" src="../static/js/collapse.js"></script>
        <link rel="stylesheet" href="../static/css/remodal.css">
        <link rel="stylesheet" href="../static/css/remodal-default-theme.css">
        <style>
            .tag {
                background: #eee;
                border-radius: 3px 0 0 3px;
                color: #999;
                display: inline-block;
                height: 26px;
                line-height: 26px;
                padding: 0 20px 0 23px;
                position: relative;
                margin: 0 10px 10px 0;
                text-decoration: none;
                -webkit-transition: color 0.2s;
                background-color: #333;
                color: white;

            }

            .tag::before {
                background: #fff;
                border-radius: 10px;
                box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
                content: '';
                height: 6px;
                left: 10px;
                position: absolute;
                width: 6px;
                top: 10px;
            }

            .tag::after {
                background: #fff;
                border-bottom: 13px solid transparent;
                border-left: 10px solid #eee;
                border-left-color: #333;
                border-top: 13px solid transparent;
                content: '';
                position: absolute;
                right: 0;
                top: 0;
            }

            .tag:link {
                text-decoration: none;
            }

            .tag:visited {
                text-decoration: none;
            }

            .tag:hover {
                text-decoration: none;
            }

            .tag:active {
                text-decoration: none;
            }

            .table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
                border: none;
            }
            input {
                border-radius: 0 !important;
            }
            @media only screen and (max-width: 960px) {
                .remodal {
                    max-width: 800px;
                }
            }
            @media only screen and (max-width: 768px) {
                .remodal {
                    max-width: 600px;
                }
            }
            @media only screen and (max-width: 480px) {
                .remodal {
                    max-width: 400px;
                }
            }
            @media only screen and (max-width: 368px) {
                .remodal {
                    max-width: 240px;
                }
            }

            .like:hover{
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 40px;
                -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
                -moz-box-shadow:    0px 0px 30px 0px rgba(0, 255, 0, 0.67);
                box-shadow:         0px 0px 30px 0px rgba(0, 255, 0, 0.67);
            }
            .dislike:hover{
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 40px;
                -webkit-box-shadow: 0px 0px 30px 0px rgba(255, 0, 0, 0.67);
                -moz-box-shadow:    0px 0px 30px 0px rgba(255, 0, 0, 0.67);
                box-shadow:         0px 0px 30px 0px rgba(255, 0, 0, 0.67);
            }

        </style>
    </head>
    <script src="../static/js/pace.min.js"></script>
    <body>
        <div class="super-header">
            <div class="row">
                <div class="col-xs-4" id="logo"><img src="../static/img/logo-hubs.png" alt="Fedora Hubs"></div>
                <div class="col-sm-4 col-sm-push-4 col-xs-8">

                    <div class="dropdown pull-right">
                        <img class = "icon" src="../static/img/irc_icon.png" alt="IRC Chats">
                        <span class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img src="https://seccdn.libravatar.org/avatar/5863081bba592bee07a60ac2e4f39366c76d735ae6de563120954bf6ed172272?s=312&amp;d=retro" class="avatar" alt="User Icon"/>
                            kjtdimuthu
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </span>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li class="dropdown-header">Account Information</li>
                            <li><a href="#">Full Name: Dimuthu Lakmal</a></li>
                            <li><a href="#">Email: kjtdimuthu@gmail.com</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-sm-4 col-sm-pull-4 col-xs-12">
                    <!-- NOT HOOKED UP TO ANYTHING XOXO -->
                    <div class="input-group">
                        <input type="search" placeholder="Search across all hubs ..."></input>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="bookmarks">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">

                            <li class='active'>
                                <a href="/kjtdimuthu">me</a></li>

                            <!-- At the end of the list, tack on a link to all groups -->
                            <li><a href="/groups">all</a></li>

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <div class="header">

            <div class="dropdown pull-right edit">
                <span class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-edit"></span> edit this page
                </span>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="#">Customize Header</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Configure Widgets</a></li>

                </ul>
            </div>


            <div class="padded center-block medium-wide">
                <img src="https://seccdn.libravatar.org/avatar/5863081bba592bee07a60ac2e4f39366c76d735ae6de563120954bf6ed172272?s=312&amp;d=retro" class="avatar" />
                <h3>kjtdimuthu</h3>
                <h5>Dimuthu Lakmal</h5>
                <div class="clearfix"></div>
            </div>

        </div>
        <div class="container">

            <div class="remodal" data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" style='width:800px'>
                <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">Meeting 1</div>
                        <div class="col-md-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet facilisis massa. Aliquam vel velit convallis, vulputate neque vitae, lacinia neque. Suspendisse potenti. Nullam vitae ipsum feugiat, iaculis ligula porta</div>

                    </div><br>
                    <strong>Suggested Dates</strong>
                    <div class="row">
                        <a class='tag'>25/03/2016 10:00 UTC</a><img class="square-32 like" src='../static/img/like.png'> <a>3</a> &nbsp;&nbsp;&nbsp;<img class="square-32 dislike" src='../static/img/dislike.png'> <a>0</a> &nbsp;&nbsp;&nbsp; <br>
                        <a class='tag'>26/03/2016 10:00 UTC</a><img class="square-32 like" src='../static/img/like.png'> <a>0</a> &nbsp;&nbsp;&nbsp;<img class="square-32 dislike" src='../static/img/dislike.png'> <a>2</a> &nbsp;&nbsp;&nbsp; <br>
                        <a class='tag'>28/03/2016 10:00 UTC</a><img class="square-32 like" src='../static/img/like.png'> <a>1</a> &nbsp;&nbsp;&nbsp;<img class="square-32 dislike" src='../static/img/dislike.png'> <a>1</a> &nbsp;&nbsp;&nbsp; <br>
                    </div>
                </div>
            </div>


            <div class="row">
            </div>
            <div class="row">
                <div class="col-md-8">

                    <div id="widget-212" class="row">
                        <div class="panel panel-default panel-visible">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Weekly Activity
                                </h3>
                            </div> <!-- end panel-heading -->
                            <div class="pull-right widget-buttons">
                                <!-- the AGPLv3 wrapper puts the source url in all responses -->
                                <a href="/source/linechart/"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="/kjtdimuthu/212/"><span class="glyphicon glyphicon-new-window"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-edit"></span></a>
                            </div>
                            <div class="panel-body">
                                <div class="flex-container">
                                    <img src="https://apps.fedoraproject.org/datagrepper/charts/stackedline?delta=604800&amp;N=12&amp;style=clean&amp;height=300&amp;fill=true&amp;user=kjtdimuthu&amp;split_on=categories&amp;category=git&amp;category=wiki&amp;category=copr&amp;category=anitya&amp;category=mirrormanager&amp;category=ansible&amp;category=fedoratagger&amp;category=pkgdb&amp;category=summershum&amp;category=nuancier&amp;category=mailman&amp;category=fedbadges&amp;category=fmn&amp;category=koschei&amp;category=compose&amp;category=fedimg&amp;category=jenkins&amp;category=irc&amp;category=fas&amp;category=buildsys&amp;category=askbot&amp;category=pagure&amp;category=bodhi&amp;category=faf&amp;category=kerneltest&amp;category=github&amp;category=trac&amp;category=meetbot&amp;category=planet&amp;category=fedocal&amp;category=hotness">
                                </div>
                            </div> <!-- end panel-body -->
                        </div>
                    </div>

                    <div id="widget-213" class="row">
                        <div class="panel panel-default panel-visible">
                            <img src="../static/img/calendar.png" class="square-32 pull-left">
                            <div class="col-md-3 pull-right" align="right" style="color: #999">Design team <span class="glyphicon glyphicon-menu-down"></span></div>
                            <div class="panel-body">
                                <div class="col-md-10">
                                    <strong>You've been assigned action items in a meeting.</strong><br>
                                    During the <a href='#'>Design Team Meeting,</a> you were assigned action items.
                                </div>
                                <div class="col-md-3 col-md-offset-9" align="right">
                                    <a class="show-summary-btn">View Summary</a> 
                                </div>
                                <div class="col-md-12 summary" style="display: none">
                                    <br>
                                    <div class="col-md-3">
                                        <strong style="font-size: 28px">Nov 04</strong><br>
                                        @11.30 AM ET<br>
                                        <a href="#">#desing-team</a>
                                    </div>
                                    <div class="col-md-8">
                                        <li>Mizmo to post blog post summary of meeting</li>
                                        <li>Mizmo to send email to design team list</li>
                                    </div>
                                    <div class="col-md-12" align="center">
                                        <a href="#">Full Meeting Summary</a> | <a href="#">Raw Meeting Log</a>
                                    </div>
                                    <div class="col-md-3 col-md-offset-9" align="right">
                                        <a class="hide-summary-btn">Hide Summary</a> 
                                    </div>
                                </div>
                            </div> <!-- end panel-body -->
                        </div>

                        <div class="panel panel-default panel-visible">
                            <img src="../static/img/minutes_icon.png" class="square-32 pull-left">
                            <div class="col-md-3 pull-right" align="right" style="color: #999">Design team <span class="glyphicon glyphicon-menu-down"></span></div>
                            <div class="panel-body">
                                <div class="col-md-10">
                                    <strong>Design Team Meeting Minutes Available</strong><br>
                                    The meeting minutes from the last Design Team meeting are available.
                                </div>
                                <div class="col-md-3 col-md-offset-9" align="right">
                                    <a class="show-summary-btn">View Summary</a> 
                                </div>
                                <div class="col-md-12 summary" style="display: none">
                                    <br>
                                    <div class="col-md-5">
                                        <a><strong>Design Team Meeting</strong></a>
                                    </div>
                                    <div class="col-md-12">
                                        <table class="table table-borderless">
                                            <thead>
                                                <tr style="font-size: 14px;"><th>Topics</th><th>Action items</th><th>Participants</th></tr>
                                            <tbody>
                                                <tr style="font-size: 14px;"><td>1. f23 wallpaper ideas</td><td>None</td><td>1.mizmo(67)</td></tr>
                                                <tr style="font-size: 14px;"><td>2.Another topic</td><td></td><td>2.gnokii(29)</td></tr>
                                                <tr style="font-size: 14px;"><td>3.Some more stuff</td><td></td><td>3.sam08(24)</td></tr>
                                            </tbody>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="col-md-12" align="center">
                                        <a href="#">Full Meeting Summary</a> | <a href="#">Raw Meeting Log</a>
                                    </div>
                                    <div class="col-md-3 col-md-offset-9" align="right">
                                        <a class="hide-summary-btn">Hide Summary</a> 
                                    </div>
                                </div>
                            </div> <!-- end panel-body -->
                        </div>
                        <div class="panel panel-default panel-visible">
                            <img src="../static/img/checed_calander_icon.png" class="square-32 pull-left">
                            <div class="col-md-3 pull-right" align="right" style="color: #999">Design team <span class="glyphicon glyphicon-menu-down"></span></div>
                            <div class="panel-body">
                                <div class="col-md-10">
                                    <strong>New Meeting Announcement (Desing Team)</strong><br>
                                    A new design team meeting has been scheduled for next week.
                                </div>
                                <div class="col-md-3 col-md-offset-9" align="right">
                                    <a class="show-summary-btn">View Summary</a> 
                                </div>
                                <div class="col-md-12 summary" style="display: none">
                                    <br>
                                    <div class="col-md-3">
                                        <strong style="font-size: 28px">Nov 04</strong><br>
                                        @11.30 AM ET<br>
                                        <a href="#">#desing-team</a>
                                    </div>
                                    <div class="col-md-8">
                                        <h5 style="color: #29d">Fedora 23 Wallpaper IRC Hackfest</h5>
                                        <p style="font-size: 14px">Let's get together and brainstorm/hack on the wallpaper desing for Fedora 23</p>
                                        <p>Meeting organization by<a href='#'> gnokii</a></p>
                                        <li>Mizmo to send email to design team list</li>
                                    </div>
                                    <div class="col-md-12" align="center">
                                        <a href="#">Full Meeting Detials</a>
                                    </div>
                                    <div class="col-md-3 col-md-offset-9" align="right">
                                        <a class="hide-summary-btn">Hide Summary</a> 
                                    </div>
                                </div>
                            </div> <!-- end panel-body -->
                        </div>
                        
                        <div class="panel panel-default panel-visible">
                            <img src="../static/img/calendar.png" class="square-32 pull-left">
                            <div class="col-md-3 pull-right" align="right" style="color: #999;">Calendar <span class="glyphicon glyphicon-menu-down"></span></div>
                            <div class="panel-body">
                                <div class="col-md-10">
                                    <strong>Design Team Meeting Request</strong><br>
                                    Please fill out your availability for a new design team meeting.
                                </div>
                                <div class="col-md-3 col-md-offset-9" align="right">
                                    <a class="show-summary-btn">View Summary</a> 
                                </div>
                                <div class="col-md-12 summary" style="display: none">
                                    <br>
                                    <div class="col-md-9">
                                        <h5 style="color: #29d">Fedora 23 Wallpaper IRC Hackfest</h5>
                                        <p>Let's get together and review the current UX desing for Fedora Hubs.Please mark your availability at the link below</p>
                                    </div>
                                    <div class="col-md-12" align="left">
                                        <a href="#">http://whenisggod.net/blahblahblah</a>
                                    </div>
                                    <div class="col-md-3 col-md-offset-9" align="right">
                                        <a class="hide-summary-btn">Hide Summary</a> 
                                    </div>
                                </div>
                            </div> <!-- end panel-body -->
                        </div>
                    </div>
                    
                </div>

                <div class="col-md-4">

                    <div id="widget-214" class="widget row"><div class="panel panel-default panel-visible">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Reminders
                                </h3>
                            </div> <!-- end panel-heading -->
                            <div class="pull-right widget-buttons">
                                <!-- the AGPLv3 wrapper puts the source url in all responses -->
                                <a href="/source/meetings/"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="/kjtdimuthu/214/"><span class="glyphicon glyphicon-new-window"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-edit"></span></a>
                            </div>
                            <div class="panel-body">
                                <hr>
                                <hr>
                                <p>The The second Fedora 24 Alpha Go/No-Go Meeting is in a day</p>
                                <h1 class="inline">Mar 23</h1>
                                <div class="inline">
                                    @17:00 UTC<br>
                                    #fedora-meeting<br>
                                    <p>Join us on irc.freenode.net in #fedora-meeting for this important meeting, wherein we shall determine the readiness of the Fedora 24 Alpha.
                                        The meeting is going to be held on Wednesday, March 23rd, 2016 17:00 UTC. Please check the [Fedocal] link for your time zone.</p>
                                    <p>This meeting is a second attempt to  determine the readiness of the Fedora 24 Alpha, following the first Go/No-Go meeting for F24 Alpha held the last week [F24-GoNoGo-I].</p>
                                    <p>For more details about this meeting please follow the [GoNoGoMeeting] link.
                                        In the meantime, please keep also an eye on the Fedora 24 Alpha Blocker list [AlphaBlockers].</p>
                                    <p>[F24-GoNoGo-I] https://meetbot-raw.fedoraproject.org/teams/f24-alpha-go_no_go-meeting/f24-alpha-go_no_go-meeting.2016-03-17-17.00.html--RAW HTML NOT ALLOWED--
                                        [FedoCal] https://apps.fedoraproject.org/calendar/meeting/3344/--RAW HTML NOT ALLOWED--
                                        [AlphaBlockers] http://qa.fedoraproject.org/blockerbugs/milestone/24/alpha/buglist--RAW HTML NOT ALLOWED--
                                        [GoNoGoMeeting] https://fedoraproject.org/wiki/Go_No_Go_Meeting--RAW HTML NOT ALLOWED--</p>
                                    <p>Thanks you in advance for your support. Regards,
                                        Jan</p>
                                </div>
                                <hr>
                                <p>The Final Release Public Availability (GA) is in 3 months</p>
                                <h1 class="inline">Jun 07</h1>
                                <div class="inline">
                                    <br>
                                    <p>More information available at:
                                        <a href="https://fedoraproject.org/wiki/Fedora_24_Final_Release_Criteria">https://fedoraproject.org/wiki/Fedora_24_Final_Release_Criteria</a></p>
                                </div>
                                <hr>

                            </div> <!-- end panel-body -->
                        </div> <!-- end panel --></div>

                    <div id="widget-215" class="widget row"><div class="panel panel-default panel-visible">

                            <div class="pull-right widget-buttons">
                                <!-- the AGPLv3 wrapper puts the source url in all responses -->
                                <a href="/source/fedmsgstats/"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="/kjtdimuthu/215/"><span class="glyphicon glyphicon-new-window"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-edit"></span></a>
                            </div>
                            <div class="panel-body">
                                <div class="stats-container row">
                                    <div class="col-sm-7 col-md-12 col-lg-7">
                                        <table class="stats-table">
                                            <tbody><tr><th>subscribers</th><th>subscribed to</th></tr>
                                                <tr class="text-info"><td>0</td><td class="text-center">0</td></tr>
                                            </tbody></table>
                                    </div>
                                    <div class="col-sm-5 col-md-12 col-lg-5">
                                    </div>
                                </div>
                            </div> <!-- end panel-body -->
                        </div> <!-- end panel --></div>

                    <div id="widget-216" class="widget row"></div>

                    <div id="widget-217" class="widget row"></div>

                    <div id="widget-218" class="widget row"><div class="panel panel-default panel-visible">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Hubs
                                </h3>
                            </div> <!-- end panel-heading -->
                            <div class="pull-right widget-buttons">
                                <!-- the AGPLv3 wrapper puts the source url in all responses -->
                                <a href="/source/subscriptions/"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="/kjtdimuthu/218/"><span class="glyphicon glyphicon-new-window"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-edit"></span></a>
                            </div>
                            <div class="panel-body">
                                <p><strong>Belongs to: </strong> <a href="/kjtdimuthu/">kjtdimuthu</a></p>
                                <hr>

                            </div> <!-- end panel-body -->
                        </div> <!-- end panel --></div>

                    <div id="widget-219" class="widget row"><div class="panel panel-default panel-visible">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Badges
                                </h3>
                            </div> <!-- end panel-heading -->
                            <div class="pull-right widget-buttons">
                                <!-- the AGPLv3 wrapper puts the source url in all responses -->
                                <a href="/source/badges/"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="/kjtdimuthu/219/"><span class="glyphicon glyphicon-new-window"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-edit"></span></a>
                            </div>
                            <div class="panel-body">
                                <div class="flex-container">
                                    <a width="60px" href="https://badges.fedoraproject.org/badge/involvement">
                                        <img src="https://badges.fedoraproject.org/pngs/involvement.png" width="60px"></a>
                                    <a width="60px" href="https://badges.fedoraproject.org/badge/dont-call-it-a-comeback">
                                        <img src="https://badges.fedoraproject.org/pngs/dont-call-it-a-comeback.png" width="60px"></a>
                                    <a width="60px" href="https://badges.fedoraproject.org/badge/paranoid-panda">
                                        <img src="https://badges.fedoraproject.org/pngs/fas-paranoid-panda.png" width="60px"></a>
                                </div>
                            </div> <!-- end panel-body -->
                        </div> <!-- end panel --></div>

                    <div id="widget-220" class="widget row"><div class="panel panel-default panel-visible">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Newest Open Pull Requests on Pagure
                                </h3>
                            </div> <!-- end panel-heading -->
                            <div class="pull-right widget-buttons">
                                <!-- the AGPLv3 wrapper puts the source url in all responses -->
                                <a href="/source/pagure_pr/"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="/kjtdimuthu/220/"><span class="glyphicon glyphicon-new-window"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-edit"></span></a>
                            </div>
                            <div class="panel-body">
                                <ul class="media-list">
                                    <li class="media">
                                        <div class="media-left">
                                            <a href="https://pagure.io/pagure/pull-request/850" target="_blank">
                                                <span class="label label-default">#850</span>
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                pagure -
                                                <span title="using local authentication when running admin_session_timedout got the error FAS is not defined; created a logout function for both local and FAS">
                                                    using local authentication when running admin  ...           </span>
                                            </h4>
                                            Opened by:
                                            <a href="https://pagure.io/user/pvl" target="_blank">
                                                pvl
                                            </a>
                                            --
                                            <span class="text-muted">Unassigned</span>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-left">
                                            <a href="https://pagure.io/pagure/pull-request/845" target="_blank">
                                                <span class="label label-default">#845</span>
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                pagure -
                                                <span title="Feature for issue #806 - Commit comparison">
                                                    Feature for issue #806 - Commit comparison           </span>
                                            </h4>
                                            Opened by:
                                            <a href="https://pagure.io/user/ogutierrez" target="_blank">
                                                ogutierrez
                                            </a>
                                            --
                                            <span class="text-muted">Unassigned</span>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-left">
                                            <a href="https://pagure.io/pagure/pull-request/843" target="_blank">
                                                <span class="label label-default">#843</span>
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                pagure -
                                                <span title="Added watch feature.">
                                                    Added watch feature.           </span>
                                            </h4>
                                            Opened by:
                                            <a href="https://pagure.io/user/aavrug" target="_blank">
                                                aavrug
                                            </a>
                                            --
                                            <span class="text-muted">Unassigned</span>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-left">
                                            <a href="https://pagure.io/pagure/pull-request/664" target="_blank">
                                                <span class="label label-default">#664</span>
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                pagure -
                                                <span title="Add requirement for mod_ssl">
                                                    Add requirement for mod_ssl           </span>
                                            </h4>
                                            Opened by:
                                            <a href="https://pagure.io/user/jdulaney" target="_blank">
                                                jdulaney
                                            </a>
                                            --
                                            <span class="text-muted">Unassigned</span>
                                        </div>
                                    </li>
                                </ul>

                                <hr>

                                <a class="btn btn-success" target="_blank" href="https://pagure.io/pagure/pull-requests">
                                    All Pull-Requests
                                </a>
                            </div> <!-- end panel-body -->
                        </div> <!-- end panel --></div>

                    <div id="widget-221" class="widget row">Got an error retrieving this widget.  Sorry :(</div>

                    <div id="widget-222" class="widget row"><div class="panel panel-default panel-visible">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Bugzilla: Issues
                                </h3>
                            </div> <!-- end panel-heading -->
                            <div class="pull-right widget-buttons">
                                <!-- the AGPLv3 wrapper puts the source url in all responses -->
                                <a href="/source/bugzilla/"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="/kjtdimuthu/222/"><span class="glyphicon glyphicon-new-window"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-edit"></span></a>
                            </div>
                            <div class="panel-body">
                                <ul class="media-list">
                                </ul>
                            </div> <!-- end panel-body -->
                        </div> <!-- end panel --></div>
                </div>
            </div>
        </div>

        <script src="../static/js/jquery-1.10.2.min.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/js/utils.js"></script>
        <script>window.jQuery || document.write('<script src="../libs/jquery/dist/jquery.min.js"><\/script>')</script>
        <script src="../static/js/remodal.min.js"></script>

        <script>
            $('.show-summary-btn').click(function () {
                $(this).slideToggle('slow');
                $(this).parent().next().slideToggle('slow');
            });
            $('.hide-summary-btn').click(function () {
                $(this).parent().parent().prev().children().slideToggle('slow');
                $(this).parent().parent().slideToggle('slow');
            });
        </script>

    </body>
</html>
